<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div>     
      x<input type="text" v-model="x">
	    +
      y<input type="text" v-model="y"> <br>
      
    <button v-on:click="sumXY">Suma </button>
    <br>

    <button>Schimb</button>

    <div id="container" class="verde">Verde</div>
    <button onclick="myFunction()">Paragraf nou</button>

    <div id="p"></div>

    <div class="cicle"></div>
  <ul>
  
  </ul>  


    <script type="text/javascript" src="main.js"></script>
  </body>
</html>